# ==========================
# Node.js
# ==========================

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment files
.env
.env.*  # .env.local, .env.development, etc.

# OS junk
.DS_Store
Thumbs.db

# Build / Dist files
dist/
build/

# Optional caches
.cache/
.next/
.nuxt/
vite.config.ts.timestamp*
vite.config.js.timestamp*

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Temporary files
tmp/
temp/

# Local database dumps / backups
dump/
backups/

# ==========================
# MongoDB Related
# ==========================

# Ignore MongoDB data directory (if stored locally in project)
data/
mongodb/
mongo-data/
db/

complete-node-bootcamp-master/
complete-node-bootcamp-master.zip/